<ul class="media-left">
  <% microposts.each do |micropost|%>
  <li class="media">
    <div class="media-left">
      <% if micropost.user.picture.file.nil? %>
            <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, {size: 50})%>" alt="">
          <% else %>
            <%= image_tag(micropost.user.picture.url, size: 50) %>
          <% end %>
    </div>
    <div class="media-body">
      <div>
        <%= link_to micropost.user.name, user_path(micropost.user)%><span  class="text-muted" > posted at <%= micropost.created_at %></span>
      </div>
      <div>
        <p><%= micropost.content %></p>
      </div>
      <div>
         <% if current_user.like?(micropost) %>
            <%= link_to 'unlike', unlikes_micropost_url(micropost) , method: :delete, class: 'btn btn-default btn-xs'%>
         <% else %>
            <%= link_to 'like', likes_micropost_url(micropost) , method: :post, class: 'btn btn-warning btn-xs' %>
        <% end %>
        <% if current_user == micropost.user %>
        <%= link_to 'Delete', micropost, method: :delete, data: {confirm: 'You sure?'}, class: 'btn btn-danger btn-xs' %>
        <%= link_to 'detail', micropost, class: 'btn btn-primary btn-xs'%>
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
  
  <%= paginate microposts %>
  
</ul>